name: learn-github-actions
on: [push]
jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: echo "hello world2"
      - name: most important step
        shell: bash
        run: ./cicd/hello_world2.sh
  hello-world-2:
    runs-on: ubuntu-latest
    steps:
      - name: python test
        shell: python
        run: |
          x = 1 + 3
          y = x*x
          print(x)
      - run: echo "hello from job 2"