name: learn-github-actions
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - run: npm install -g bats
      - run: bats -v
  hello-world:
    runs-on: ubuntu-latest
    steps:
      - run: echo "hello world"
      - run: pwd
  hello-world2:
    runs-on: ubuntu-latest
    steps:
      - run: echo "hello world2"
      - name: most important step
        run: bash hello_world2.sh
        working-directory: ./cicd